@import "tailwindcss";
body { font-family: Arial, Helvetica, sans-serif; }
* { box-sizing: border-box; }
@media print {
  .no-print { display:none !important; }
  @page { size: letter; margin: 0.5in; }
  * { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}
